<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hunter.dribbble"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityCustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.user.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.user.login.AuthorizeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.shots.detail.ShotsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.shots.ImageWatcherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.user.search.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.settings.SettingsActivity">
        </activity>
        <activity android:name=".ui.settings.SettingsCacheActivity">
        </activity>
    </application>

</manifest>